@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', serif;
}

footer a:hover {
    text-decoration: underline;
}